extends layout
include mixins

block content
  .calendar-container
    .calendar-header
      button#today.btn.btn-light Today
      .ico-arrow
        a#prevMonth(data-toggle='tooltip', data-placement='top', title='이전')
          i.material-icons chevron_left
        a#nextMonth(data-toggle='tooltip', data-placement='top', title='다음')
          i.material-icons chevron_right
      h4#cal-month
      ul#view.nav.nav-tabs.view-tab(role='tablist')
        li.nav-item
          a#tab-month.nav-link.active(data-toggle='tab', href='#month', role='tab', aria-controls='month', aria-selected='true') &#xC6D4;
        li.nav-item
          a#tab-day.nav-link(data-toggle='tab', href='#day', role='tab', aria-controls='day', aria-selected='false') &#xC77C;
    .tab-content
      #month.tab-pane.active.show(role='tabpanel', aria-labelledby='tab-month')
        .monthly-calendar
          .week-day
            .day-name &#xC77C;
            .day-name &#xC6D4;
            .day-name &#xD654;
            .day-name &#xC218;
            .day-name &#xBAA9;
            .day-name &#xAE08;
            .day-name &#xD1A0;
          each dates in datesArray
           +dayBlock(dates, scheduleArray)
      #day.tab-pane(role='tabpanel', aria-labelledby='tab-day')
        .daily-calendar
          span.day-name#cal-date 3&#xC77C; &#xD654;&#xC694;&#xC77C;
          each schedule in dailyScheduleArray
            +scheduleBlock(schedule)
  #registerSchedule.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerScheduleLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content

        .modal-header
          h5#registerScheduleLabel.modal-title &#xC77C;&#xC815; &#xB9CC;&#xB4E4;&#xAE30;
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/register', method='post')
          .modal-body
            .form-group
              label.col-form-label &#xC77C;&#xC815; &#xC81C;&#xBAA9;
              input#recipient-name.form-control(type='text', name='title')
            .form-group
              label.col-form-label(for='message-text') &#xC77C;&#xC815; &#xC124;&#xBA85;
              textarea#message-text.form-control(name='description')
            .form-row
              .col-md-6
                .form-group
                  label.col-form-label &#xC77C;&#xC815; &#xC2DC;&#xC791; &#xB0A0;&#xC9DC;
                  #datetimepicker1.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker1', name="fromDate")
                    .input-group-append(data-target='#datetimepicker1', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons calendar_today
              .col-md-6
                .form-group
                  label.col-form-label &#xC77C;&#xC815; &#xC2DC;&#xC791; &#xC2DC;&#xAC04;
                  #datetimepicker2.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker2', name="fromTime")
                    .input-group-append(data-target='#datetimepicker2', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons access_time
            .form-row
              .col-md-6
                .form-group
                  label.col-form-label &#xC77C;&#xC815; &#xC885;&#xB8CC; &#xB0A0;&#xC9DC;
                  #datetimepicker3.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker3', name="toDate2")
                    .input-group-append(data-target='#datetimepicker3', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons calendar_today
              .col-md-6
                .form-group
                  label.col-form-label &#xC77C;&#xC815; &#xC885;&#xB8CC; &#xC2DC;&#xAC04;
                  #datetimepicker4.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker4', name="toTime")
                    .input-group-append(data-target='#datetimepicker4', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons access_time
              .form-check.form-check-inline
                input#inlineCheckbox1.form-check-input(type='checkbox', value='option1')
                label.form-check-label(for='inlineCheckbox1') &#xB9E4;&#xC6D4; &#xBC18;&#xBCF5;
              .form-check.form-check-inline
                input#inlineCheckbox2.form-check-input(type='checkbox', value='option2', name='isAllday')
                label.form-check-label(for='inlineCheckbox2') &#xD558;&#xB8E8; &#xC885;&#xC77C;
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') &#xCDE8;&#xC18C;
            button.btn.btn-primary(type='submit') &#xC77C;&#xC815; &#xB9CC;&#xB4E4;&#xAE30;