mixin dayBlock(dates, scheduleArray)
    .week
        each date in dates
            .day
                h3.day-label(id=date)= date
                if scheduleArray[date] !== undefined
                    each schedule in scheduleArray[date]
                        if schedule.toOnlyDate === schedule.fromOnlyDate
                            - var time = schedule.isAllday? '하루종일' : (schedule.fromTime+' ~ '+schedule.toTime)
                                .event.event-start.event-end(data-span=`${schedule.toOnlyDate - schedule.fromOnlyDate + 1}`, data-toggle='popover', data-html='true', data-content=`<div class="content-line"><div class="event-marking"></div><div class="title"><h5>${schedule.title}</h5><div>${schedule.fromDate} ~ ${schedule.toDate}<div><div><span class="reservation-time">${time}</span></div></div></div><div class="content-line"><i class="material-icons">notes</i><div class="title">${schedule.description}</div></div>`, data-original-title='', title='')= schedule.title
                        else
                            .event.event-consecutive.event-start.event-end(data-span=`${schedule.toOnlyDate - schedule.fromOnlyDate + 1}`, data-toggle='popover', data-html='true', data-content=`<div class="content-line"><div class="event-marking"></div><div class="title"><h5>${schedule.title}</h5><div>${schedule.fromDate} ~ ${schedule.toDate}</div><div><span class="reservation-time">${schedule.fromTime} ~ ${schedule.toTime}</span></div></div></div><div class="content-line"><i class="material-icons">notes</i><div class="title">${schedule.description}</div></div>`, data-original-title='', title='')= schedule.title


mixin scheduleBlock(schedule)
    - var time = schedule.isAllday? '하루종일' : (schedule.fromTime+' ~ '+schedule.toTime)
        .event-consecutive.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content=`<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>${schedule.title}</h5><div>${schedule.fromDate} ~ ${schedule.toDate}</div><div><span class="reservation-time">${time}</span></div></div></div><div class="content-line"><i class="material-icons">notes</i><div class="title">${schedule.description}</div></div>`)= schedule.title